= form_for @event do |f|
  - if @event.errors.any?
    #error_explanation
      %h2= "#{pluralize(@event.errors.count, "error")} prohibited this event from being saved:"
      %ul
        - @event.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :event_type
    = f.select :event_type, options_for_select(Event.validators_on(:event_type)[0].options[:in])
  .field
    = f.label :event_time
    = f.datetime_select :event_time
  - if @type_id.blank?
    .field
      = f.label :opportunity
      = f.select :opportunity_id, options_for_select(select_options(:opportunity))
    .field
      = f.label :recruiter
      = f.select :recruiter_id, options_for_select(select_options(:recruiter))
  - else
    .field
      = f.label :opportunity
      = f.select :opportunity_id, options_for_select(select_options(:opportunity), :selected => @type_id), :disabled => true

  .actions
    = f.submit 'Save'
