= form_for @contact do |f|
  - if @contact.errors.any?
    #error_explanation
      %h2= "#{pluralize(@contact.errors.count, "error")} prohibited this contact from being saved:"
      %ul
        - @contact.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :email
    = f.text_field :email
  .field
    = f.label :phone
    = f.text_field :phone
  .field
    = f.label :last_contact
    = f.date_select :last_contact
  - if @type.blank?
    .field
      = f.label :opportunity
      = f.select :opportunity, options_for_select(select_options(:opportunity))
    .field
      = f.label :recruiter
      = f.select :recruiter, options_for_select(select_options(:recruiter))
  - elsif  @type[:type] == 'opportunity'
    .field
      = f.label :opportunity
      = f.select :opportunity, options_for_select(select_options(:opportunity), :selected => @type[:type_id]), :disabled => true
  - elsif @type[:type] == 'recruiter'
    .field
      = f.label :recruiter
      = f.select :recruiter, options_for_select(select_options(:recruiter), :selected => @type[:type_id]), :disabled => true
  .actions
    = f.submit 'Save'
